.assessments-style p {
    max-width: 800px;
    margin: auto;
    font-size: 20px;
    font-family: Oswald;
    line-height: 1.3;
    font-weight: 400;
}
.assessments-button-style{
	max-width: 800px;
    margin: auto;
}
.head_div {
    padding-bottom: 15px;
}
.assessments-button {
    margin-top: 140px;
    margin-bottom: 80px;
}
.assessments-button-style a:nth-child(1) {
    float: left;
}
.assessments-button-style a:nth-child(3) {
    float: right;
}
.assessments-button-style {
    text-align: center;
}
.assessments-button-style a {
    padding-right: 30px !important;
    padding-left: 30px !important;
}


a.btn.btn-default, .btn.btn-default  {
    background: #27a744;
    color: #fff;
    height: 43px;
    font-size: 15px;
    border: 0px;
}

a.btn.btn-default:hover {
    opacity: .8;
}

.btn-padd button.btn.btn-default.btn.btn-default {
    margin: 5px;
   
}